.speech {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-indent: 100px;
}

.chorus {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-indent: 150px;
}

.song {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-indent: 150px;
}

.direction {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: azure;
}

.direction:hover {
    color: brown;
    background-color: beige;
}

.name {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.GIRLS {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;


}

.KATE {
    color: seagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.ALL {
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

.SAMUEL {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.KING {
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}
h6:hover{
    text-shadow: 5px 5px 5px green;
}

.EDITH {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

.FREDERIC {
    color:darkturquoise;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.ISABEL {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.RUTH {
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

table th,
td {
    border: 3px solid;


}

tr:nth-child(odd) {
    background-color: hotpink;
}

td {
    text-align: center;

}

th,
td {
    padding: 20px;
    text-align: center;
}

th {
    background-color: cadetblue;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }